<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argus Dynamics - SENTRY Dashboard</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <div id="banner">
        <img src="/images/Argus_Dark.png" alt="Argus Dynamics Logo">
        <h1>SENTRY Dashboard</h1>
    </div>
    
    <div id="video-container_cam0">
        <img id="stream_cam0" src="{{ url_for('video_feed_cam0') }}">
    </div>
    <div id="video-container_cam1">
        <img id="stream_cam1" src="{{ url_for('video_feed_cam1') }}">
    </div>
</body>
</html>